body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative; /* Añadir posición relativa */
}

#app {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  position: relative; /* Asegurar que el contenido esté por encima del fondo */
  z-index: 1; /* Asegurar que el contenido esté por encima del fondo */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#logo {
  width: 250px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantén la proporción del logo */
  margin-right: 20px; /* Añade un margen a la derecha para separar del título */
}

#search {
  padding: 8px;
  width: 200px;
  font-size: 16px;
}

#type-filter {
  padding: 8px;
  font-size: 16px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: #E6E6FA;
  transition: transform 0.3s;
  border: 2px solid 	#000080; /* Añadir contorno a las tarjetas */
}

.card img {
  width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
  max-width: 150px; /* Ancho máximo de la imagen */
  height: auto; /* Mantener la proporción de la imagen */
  display: block; /* Asegurar que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.card:hover {
  transform: scale(1.05);
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 4px;
}

.pagination-button.active {
  background-color: #0073e6;
  color: white;
}