body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative; /* Añadir posición relativa */
}

#app {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  position: relative; /* Asegurar que el contenido esté por encima del fondo */
  z-index: 1; /* Asegurar que el contenido esté por encima del fondo */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#logo {
  width: 180px; /* Ajusta el tamaño del logo */
  height: auto; /* Mantén la proporción del logo */
  margin-right: 10px; /* Añade un margen a la derecha para separar del título */
  border-radius: 10px;
  border: 3px solid #ffcb05;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 24px;
  color: #00008B;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 10px;
  font-weight: bold;
}

#search {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ffcb05;
  background-color: #fff;
  color: #333;
  margin-left: 10px;
}

#type-filter {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #ffcb05;
  background-color: #f8f8f8;
  color: #333;
  margin-left: 10px;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: #E6E6FA;
  transition: transform 0.3s;
  border: 2px solid 	#000080; /* Añadir contorno a las tarjetas */
}

.card img {
  width: 100%; /* Ajustar el ancho de la imagen al 100% del contenedor */
  max-width: 150px; /* Ancho máximo de la imagen */
  height: auto; /* Mantener la proporción de la imagen */
  display: block; /* Asegurar que la imagen se comporte como un bloque */
  margin: 0 auto; /* Centrar la imagen horizontalmente */
}

.card:hover {
  transform: scale(1.05);
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #ffffff;
  border-radius: 4px;
}

.pagination-button.active {
  background-color: #0073e6;
  color: white;
}